settings.json
fallenstar.py
expressions.json
emoji_chain.json
reminders.json
token.txt
.venv/*
**__pycache__/
*.code-workspace
.DS_Store
python
python3
users.json
users_list4Serveur_de_jeu_de_moi.csv 
users_list3FallenWorld.csv 
users_list168Patch_7_Testing.csv
test.py